<form action="/contact" method="post">

  <label for="email">Email</label>
  <input type="email" name="email">

 <label for="password">Password</label>
 <input type="text" name="password">

 <input type="submit" value="Submit">
</form>
