<h2>Users Table</h2>
<table class="table">
<thead>
<tr>
<th>Name</th>
<th>Email</th>
<th>Zip Code</th>
</tr>
</thead>
<tbody>
<% subscriber.forEach(subscriber => { %>
<tr>
<td><%= subscriber.name %></td>
<td><%= subscriber.email %></td>
<td><%= subscriber.zipCode %></td>
</tr>
<% }); %>
</tbody>
</table>